header{
    background-color: white;
    color: #191970;
    height: 80px;
    font-size: 50px;
    padding-left: 10px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
}

main {
    background-color: white;
    font-family: Calibri;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
}

a {
    margin-top: 15px;
    font-size: 20px;
    width: 1500px;
    color: black;
    text-decoration: none;
}

footer{
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: auto;
    font-family: Calibri;
    z-index: -2;
}

div {
    color: black;
}

.margin {
    margin-top: 120px;
}